/*
Project Title: Project Name
Author: Brett Smith
Author URI: http://thebrettsmith.com
*/

// Helpers
@import "helpers/variables";
@import "helpers/mixins";

// Base
@import "base/typography";
@import "base/global";
@import "base/flexbox";

// Components
@import "components/buttons";

// Layout
@import "layout/header";
@import "layout/navigation";
@import "layout/footer";

// Sections
@import "sections/hero";
