.btn {
  display: inline-block;
  line-height: $btn-height;
  padding: 0 $btn-side-padding;
  border-radius: $btn-radius;
  background-color: $btn-bg;
  color: $white;
  text-decoration: none;
  transition: background-color 0.3s $easeOutQuint;

  &:hover {
    background-color: darken($btn-bg, 5%);
  }
}
