/*

-------------------------------------------------------------

FLEXBOX

*/

// flexbox container properties
.flex {
	display: flex;
  margin: 0 $col-gutter / -2;

	&.row {
		flex-flow: row wrap;

		&--reverse { flex-direction: row-reverse; }
	}

	&.column {
		flex-direction: column;

		&--reverse { flex-direction: column-reverse; }
	}
}


// align-self properties
.flex-start { align-self: flex-start; }

.flex-end { align-self: flex-end; }


/*
  create column groups
  $col-groups, $col-offsets, & $col-gutter set in _variables.scss
*/
@each $col in $col-groups {

	.col-#{$col} {
		@extend %borderbox;
		flex-basis: percentage(1 / $col);
		padding: 0 $col-gutter / 2;

	}

	// create column offsets if $col-offsets = true
	@if $col-offsets {

		.col-offset-#{$col} {
			margin-left: percentage(1 / $col);
		}

	}

} // end column creation
