/*

-------------------------------------------------------------

GLOBAL

*/


body {
	padding:0px;
	margin:0px;
}

body.body-modal-open { overflow:hidden; }

.container {
	margin:auto;
	width: $container;
	position:relative;

	@include breakpoint(large) {
		width:$container-large;
	}
	@include breakpoint(medium) {
		width:$container-medium;
	}
	@include breakpoint(small) {
		width:$container-small;
	}
}

/* general */

img { max-width:100%; }


// % for @extends
%borderbox {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

%hide-ipad {
	@include breakpoint(medium) { display:none; }
}

%hide-mobile {
	@include breakpoint(small) { display:none; }
}
