<!DOCTYPE html>
<html>

	<head lang="eng">
		
		<meta charset="UTF-8">
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{description}}">


		<!-- Stylesheets & Fonts-->
		<link rel="stylesheet" href="assets/css/main.css">

		<!-- build:js assets/js/app.min.js -->
		<script src="assets/js/lib/jquery-1.11.3.min.js"></script>
		<script src="assets/js/lib/waypoints.min.js"></script>
		<script src="assets/js/lib/modernizr-2.6.2.min.js"></script>
		<script src="assets/js/app.js"></script>
		<!-- endbuild -->

	</head>

	<body>

	{{name}}