<!DOCTYPE html>
<html>

	<head lang="eng">
		
		<meta charset="UTF-8">
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{description}}">


		<!-- Stylesheets & Fonts-->
		<link rel="stylesheet" href="assets/css/main.css">

	</head>

	<body>

	{{name}}