{{! Call header.hbs}}
{{> header name="index.hbs" title="Gulp Template" description="Gulp template with handlebars.js"}}

		<h1>Default Gulp Template Test</h1>
		<p>This is a test</p>

{{! Call footer.hbs}}
{{> footer}}


